/*
 * Sergio Gongora
 *  Developed for Project 0 in course CS50's Web Programming with Python and JavaScript
 */

#mainNav {
	background-color: #4DB6AC;
	filter: opacity(.97);
	position: fixed;
	width: 100%;
	height: 75px;
	top: 0;
	z-index: 1;
}

#mainNav a {
	color: white;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Muli', sans-serif;
	padding: 25px;
}

#mainNav a:hover {
	color: lightgrey;
}

.jumbotron > h1 {
	color: #4DB6AC;
}

.jumbotron > p {
	font-size: 19px;
	font-family: 'Muli', sans-serif;
	color: #222;
	font-weight: 300;
}

.line {
	height: 1px;
	background-color: darkgrey;
	margin-top: 15px;
	margin-bottom: 45px;
}

.myBtn {
	background-color: #4DB6AC;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 23px;
	transition: all 0.4s ease-in-out;
	margin-top: 25px;
	display:  block;
	width: 35%;
}

.myBtn:hover {
	transition: all 0.4s ease-in-out;
	color: #4DB6AC;
	background-color: transparent;
	border: 2px solid #4DB6AC;
}

#index-section, #photos-section, #about-section{
	margin-top: 80px;
	padding: 50px;
	margin-bottom: 75px;
}
.pics {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.index-title, .photos-title, .about-title {
	padding-left: 15px;
	font-weight: 100;
	font-size: 55px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 25px;
}

.img-caption {
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-family: sans-serif;
	font-weight: 200;
	border-bottom: 2px solid #ccc;
	width: 75%;

}
