$mainColor: #4DB6AC;

#mainNav {
	background-color: $mainColor;
}

#navbarToggler {
	background-color: $mainColor;
}

.jumbotron > h1 {
	color: $mainColor;
}

.myBtn {
	background-color: $mainColor;
}

.myBtn:hover {
	color: $mainColor;
	border: 2px solid $mainColor;
