%btnStyle {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 23px;
	transition: all 0.4s ease-in-out;
	display:  block;
	text-transform: uppercase;
	width: 35%;
}

%btnStyle-Hover {
	transition: all 0.4s ease-in-out;
	background-color: transparent;
}

@media (max-width: 700px) {
	%btnStyle {
		font-size: 18px;
		width: 50%;
	}
}

.myBtn {
	@extend %btnStyle;
	margin-top: 25px;
}

.myBtn:hover, .contact-btn:hover {
	@extend %btnStyle-Hover;
}

.contact-btn {
	@extend %btnStyle;
}
