.card {
	.card-header {
		font-family: 'Montserrat';
		font-size: 35px;
	}
	.card-body {
		h5 {
				font-weight: 200;
		}

	}
	img {
		width: 35%;
		height: 35%;
		margin-bottom: 35px;
		border-radius: 7px;
	}

	.btn-lg, .btn-lg:hover {
		text-transform: uppercase;
		text-decoration: none;
		font-family: 'Montserrat';
		display: block;
		margin: auto;
		width: 50%;
	}

	.card-footer {
		font-size: 10px;
	}
}
