.card {
	.card-header {
		font-family: 'Montserrat';
		font-size: 35px;
	}
	.card-body {
		h5 {
				font-weight: 200;
		}

	}
	img {
		width: 35%;
		height: 35%;
		margin-bottom: 35px;
		border-radius: 7px;
	}


	.card-footer {
		font-size: 10px;
	}
}
