$mainColor: #4DB6AC;

%btnStyle {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 23px;
	transition: all 0.4s ease-in-out;
	display:  block;
	text-transform: uppercase;
	width: 35%;
	text-decoration: none;
}

%btnStyle-Hover {
	transition: all 0.4s ease-in-out;
	background-color: transparent;
}


#mainNav, #navbarToggler, .myBtn, .contact-btn {
	background-color: $mainColor;
}

.jumbotron > h1 {
	color: $mainColor;
}

.myBtn:hover, .contact-btn:hover {
	color: $mainColor;
	border: 2px solid $mainColor;
}

.myBtn {
	@extend %btnStyle;
	margin-top: 25px;
}

.myBtn:hover, .contact-btn:hover {
	@extend %btnStyle-Hover;
}

.contact-btn {
	@extend %btnStyle;
}

.card {
	.card-header {
		font-family: 'Montserrat';
		font-size: 35px;
	}
	.card-body {
		h5 {
				font-weight: 200;
		}
	}
	img {
		width: 40%;
		height: 40%;
		margin-bottom: 35px;
		border-radius: 7px;
	}
	.card-footer {
		font-size: 10px;
	}
}

@media (max-width: 700px) {
	%btnStyle {
		font-size: 18px;
		width: 100%;
	}

	.card {
		.card-header {
			font-size: 25px;
		}
		img {
			width: 75%;
			height: 75%;
			margin-bottom: 20px;
		}
	}
}
